* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: euclidCircularB, Arial, sans-serif;
    overflow-x: hidden;
}


/*------------------Navbar---------------*/

nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(238, 228, 215);
    align-items: center;
    height: 70px;
}

h2 {
    color: rgb(255, 102, 0);
    margin-left: 30px;
    font-weight: 700;
    letter-spacing: 1.6px;
    cursor: pointer;
}

.list ul {
    display: flex;
    margin-right: 125px;
}

.list ul li {
    list-style: none;
    padding: 0 8px;
}

.list ul li a {
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.list ul li a:hover {
    color: rgb(255, 102, 0);
    letter-spacing: 2px;
}


/*------------------Get Premium--------------*/

.wed {
    display: flex;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding-left: 30px;
    word-spacing: 5px;
    line-height: 90px;
    padding-top: 70px;
    font-weight: 780;
    height: 620px;
    background: linear-gradient(145deg, rgb(218, 87, 0), rgba(255, 102, 0, 0.644));
    background: linear-gradient(500deg, rgb(218, 87, 0), rgba(255, 102, 0, 0.644));
    width: 610px;
}

.pic img {
    width: 930px;
    background-position: center;
    background-size: contain;
}

.download {
    margin: 20px 0px -45px 17px;
    font-size: 22px;
    word-spacing: 0px;
    font-weight: 100;
}

.app {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 100;
    word-spacing: 0px;
    padding: 15px;
    margin: 0px 170px 100px 170px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 200px;
    background-color: rgb(15, 13, 46);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.app:hover {
    color: rgb(236, 127, 54);
    letter-spacing: 3px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/*------------------Try to deliver--------------*/

.try {
    margin-top: -4px;
    height: 200px;
    background: linear-gradient(to right, rgb(26, 26, 173), rgba(173, 216, 230, 0.548));
    background-size: cover;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

h3 {
    margin: 30px 0px 5px 300px;
    font-size: 35px;
    word-spacing: 0px;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 65px;
}

.earn {
    color: rgb(238, 235, 241);
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
}

.tap {
    text-decoration: none;
    display: block;
    border-radius: 100px;
    font-weight: 400;
    padding: 20px;
    background-color: whitesmoke;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 70px 350px 50px 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

.tap:hover {
    letter-spacing: 2px;
    color: rgb(236, 127, 54);
}


/*------------------Steps--------------*/

.steps {
    height: 600px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    overflow-y: hidden;
}

.pick {
    background: url(../pics/locale.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 400px;
    background-position: center;
    margin: 0px 0px 0px 0px;
}

.locate {
    margin: 320px 0px 0px 30px;
}

.request {
    background: url(../pics/order.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 400px;
    margin: 190px 0px 0px 0px;
}

.req {
    margin: 220px 0px 0px 30px;
}

.meet {
    background: url(../pics/meeet.png) no-repeat;
    background-size: contain;
    margin: 250px 0px 0px 0px;
    width: 300px;
    height: 400px;
}

.mit {
    margin: 320px 0px 0px 30px;
}

.enjoy {
    background: url(../pics/enjo.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 400px;
    background-position: center;
}

.enjo {
    margin: 320px 0px 0px 30px;
}