* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: euclidCircularB, Arial, sans-serif;
    overflow-x: hidden;
}


/*------------------Navbar---------------*/

nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(238, 228, 215);
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
}

h2 {
    color: rgb(255, 102, 0);
    margin-left: 30px;
    font-weight: 700;
    letter-spacing: 1.6px;
    cursor: pointer;
}

.list ul {
    display: flex;
    margin-right: 125px;
}

.list ul li {
    list-style: none;
    padding: 0 8px;
}

.list ul li a {
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.list ul li a:hover {
    color: rgb(255, 102, 0);
    letter-spacing: 2px;
}